```{=html}
<table class="skills-tbl">
<colgroup>
<col style="width: 230px">
<col>
</colgroup>
<tbody>
{% for s in skills %}
<tr><td><strong>{{ s.category }}</strong></td><td>{{ s['items'] }}{% if s.link is defined %} (<a href="{{ s.link }}">{{ s.link | replace('https://', '') }}</a>){% endif %}</td></tr>
{% endfor %}
</tbody>
</table>
```
