```{=html}
<h2 class="home-heading">{{ research.intro.heading }}</h2>
<div class="research-keywords">
{% for k in research.intro.keywords %}
  <span>{{ k }}</span>
{% endfor %}
</div>
<ul class="home-statements">
{% for s in research.intro.statements %}
  <li>{{ s | safe }}</li>
{% endfor %}
</ul>
<p class="home-more"><a href="research.html">See Research &rarr;</a></p>
```
