```{=html}
<p class="pub-note">† First author, * Corresponding author</p>

<ul class="pub-styled">
{% for p in papers %}

<li>
<span class="pub-authors">{{ p.authors | authors }}</span>
<span class="pub-title">“{{ p.title }}”</span>
<span class="pub-journal">{{ p.venue }}</span>{% if p.detail is defined %}, {{ p.detail }}{% endif %}

<span class="pub-year">({{ p.year }})</span>
{% if p.doi is defined %}
<span class="pub-doi"><a href="https://doi.org/{{ p.doi }}">DOI:{{ p.doi }}</a></span>
{% endif %}
{% if p.pdf is defined %}
<span class="pub-pdf"><a href="{{ p.pdf }}" target="_blank">[PDF]</a></span>
{% endif %}
</li>
{% endfor %}

</ul>

<p class="pub-patent-header">[Patents]</p>

<ul class="pub-styled pub-patents">
{% for t in patents %}

<li>
<span class="pub-authors">{{ t.authors | authors }}</span>
<span class="pub-title">“{{ t.title }}”</span>
<span class="pub-journal">{{ t.venue }}</span>, {{ t.number }}
</li>
{% endfor %}

</ul>
```
